body {
    background-color: #ffffff;
    color: #333;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #211c50;
}

.logo {
    max-height: 100%;
    max-width: 100%;
}

.centered {
    margin: auto;
    text-align: center;
    display: inline-block;
}

.d-block {
    min-width: 100%;
    min-height: 100%;
}

ul {
    margin: 0;
}

.bg-steel {
    background: rgb(2, 23, 21);
    background: linear-gradient(90deg, rgba(2, 23, 21, 1) 20%, rgba(0, 255, 170, 1) 50%, rgba(9, 9, 121, 1) 77%);
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.anunt-titlu {
    color: #444444;
}

a.anunt-titlu:hover {
    color: #428bca;
    text-decoration: none;
}

.anunt-descriere {
    white-space: pre-line;
}

.anunt-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.anunt-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.anunt-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.anunt-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}